<div class="excel-display">
  <div class="tools-container" *ngIf="rolename">
    <div style="padding: 20px;">
      <h2 *ngIf="rolename" style="font-weight: 500; text-transform: capitalize; letter-spacing: 2px; margin-top: 1rem; margin-bottom: -1rem;">User - {{name}}</h2>
      <h3 *ngIf="rolename" style="font-weight: 500; text-transform: capitalize; letter-spacing: 2px; margin-top: 1rem; margin-bottom: -1rem;">{{rolename}}</h3>
    </div>
    <div class="file-drop-zone"
        (dragover)="onDragOver($event)"
        (dragleave)="onDragLeave($event)"
        (drop)="onDrop($event)"
        (click)="triggerFileInput()"
        *ngIf="sheetData.name==''"
        style="margin-top: 1rem;"
        >
      <!-- Hidden file input -->
        <input type="file" class="file-input" (change)="onFileChange($event)" accept=".xlsx, .xls" id="fileInput"/>
        <!-- Clickable label -->
        <label for="fileInput" class="drop-zone-label">
          <mat-icon style="color: rgb(27, 199, 124);">insert_drive_file</mat-icon><p>Drag & Drop your file here or browse to upload</p>
        </label>
    </div>

    <div style="display: flex; justify-content: flex-end; padding: 20px;">
      <button style="height: 35px; transition: border-color 0.3s ease, box-shadow 0.3s ease, transform 0.1s ease; box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.334); width: 110px; border-radius: 8px; background: rgb(0, 222, 111); color: rgb(255, 255, 255); border-width: 0px; font-weight: 600; margin-right: 1rem; transform: scale(1);" *ngIf="excelData.length && save" (click)="saveToDatabase()" onmousedown="this.style.transform='scale(0.95)'" onmouseup="this.style.transform='scale(1)'">SAVE</button>

      <button style="height: 35px; transition: border-color 0.3s ease, box-shadow 0.3s ease, transform 0.1s ease; box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.334); width: 110px; border-radius: 8px; background: rgb(24, 224, 201); color: rgb(255, 255, 255); border-width: 0px; font-weight: 600; margin-right: 1rem; transform: scale(1);" *ngIf="excelData.length" (click)="updateDatabase()" onmousedown="this.style.transform='scale(0.95)'" onmouseup="this.style.transform='scale(1)'">UPDATE</button>
      
      <button style="height: 35px; transition: border-color 0.3s ease, box-shadow 0.3s ease, transform 0.1s ease; box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.334); width: 110px; border-radius: 8px; background: rgb(239, 38, 38); color: rgb(255, 255, 255); border-width: 0px; font-weight: 600; margin-right: 1rem; transform: scale(1);" *ngIf="sheetData.name !== ''" (click)="resetSheetData()" onmousedown="this.style.transform='scale(0.95)'" onmouseup="this.style.transform='scale(1)'">CLEAR</button>
      <select style="
    height: 35px;
    padding: 0 10px;
    border-radius: 8px;
    border: 1.5px solid rgb(200, 200, 200);
    background-color: #f9f9f9;
    color: #333;
    font-size: 14px;
    margin-right: 1rem;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);"
[(ngModel)]="loadSheetId">
    <option value="" >Select a Sheet</option>
      <option style="color: black;" *ngFor="let form of savedforms" [value]="form._id" >{{form.name}}</option>
    </select>
    <button style="height: 35px; transition: border-color 0.3s ease, box-shadow 0.3s ease, transform 0.1s ease; box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.334); width: 110px; border-radius: 8px; background: rgb(38, 159, 239); color: rgb(255, 255, 255); border-width: 0px; font-weight: 600; margin-right: 1rem; transform: scale(1);" (click)="loadFromDatabase(loadSheetId)" onmousedown="this.style.transform='scale(0.95)'" onmouseup="this.style.transform='scale(1)'">LOAD</button>
    </div>
  </div>
  <table *ngIf="excelData.length" style="margin-left: 1rem; margin-bottom: 2rem;margin-right: 1rem;">
    <tr *ngFor="let row of excelData; let rowIndex = index">
      <ng-container *ngFor="let cell of row; let cellIndex = index" >
        <td *ngIf="cell"
            [attr.rowspan]="cell.rowspan || 1"
            [attr.colspan]="cell.colspan || 1" (dblclick)="editCell(cell)">
          <ng-container *ngIf="cell.isEditable; else readOnlyCell">
            <input type="text"
                   [(ngModel)]="cell.value"
                   (blur)="updateCellValue(rowIndex, cellIndex, cell.value)" style="background: rgba(90, 211, 163, 0.455);">
          </ng-container>
          <ng-template #readOnlyCell>
            <div [ngStyle]="{'font-weight': cell.isBold ? 'bold' : 'normal'}">
              {{cell.value}}
            </div>
          </ng-template>
        </td>
      </ng-container>
    </tr>
  </table>
</div>