<!-- src/app/signup/signup.component.html -->
<h2>Sign Up</h2>
<form (ngSubmit)="onSignup()">
  <input [(ngModel)]="password" name="password" type="password" placeholder="Password" required>
  <input [(ngModel)]="email" name="email" type="email" placeholder="Email" required>
  <input [(ngModel)]="password" name="password" type="password" placeholder="Password" required>

  <!-- Select dropdown for roles -->
  <select style="
  height: 35px;
  padding: 0 10px;
  border-radius: 8px;
  border: 1.5px solid rgb(200, 200, 200);
  background-color: #f9f9f9;
  color: #333;
  font-size: 14px;
  margin-right: 1rem;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);" [(ngModel)]="role" name="role" required>
    <option value="" >Select a role</option>
    <option *ngFor="let user of users" [value]="user.name">{{ user.name }}</option>
  </select>

  <button type="submit">Sign Up</button>
</form>